* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat', serif;*/
    /*overflow-y: hidden;*/
    font-family: Roboto, sans-serif
}

html, body {
    height: 100%;
    background-color: #15181F;
}


div.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

div.container div.content-login {
    width: 500px;
    height: 400px;
    margin-top: 100px;
    background-color: red;
    -webkit-box-shadow: 7px 8px 21px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 10px 80px 50px 0px rgba(0, 0, 0, 0.48);
}

div.container div.content-login div.header {
    width: 100%;
    height: 100px;
    background-color: #1E2137;
    color: #74788D;
    line-height: 100px;
    padding-left: 50px;
    font-size: 30px;
}

div.container div.content-login div.body {
    background-color: #1A1E27;
}


/*
* FORM
 */

form#login {
    margin: auto;
    width: 90%;
    padding: 30px 0;
}

form#login input {
    display: block;
    width: 100%;
    padding: 10px 40px;
    border: none;
    border-bottom: 1px solid #32354D;
    background-color: #1A1E27;
    margin-bottom: 30px;
    font-size: 20px;
    color: #53566E;
    outline: none;
}

form#login input[type=submit] {
    cursor: pointer;
    background-color: #24273F;
    color: #474b6c;
    border: none;
}

form#login input[type=submit]:hover {
    -webkit-box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
    color: #9497a8;
}

form#login input::placeholder {
    color: #474b6c;
    font-size: 20px;
}


div.row-input i {
    position: relative;
    top: 36px;
    left: 5px;
    font-size: 20px;
    color: #474b6c;
}

div.row-two-coluns table {
    width: 100%;
}

div.row-two-coluns table tr td {
    width: 50%;
}

div.row-two-coluns table tr td:last-child {
    text-align: right;
}

div.row-two-coluns table tr td a {
    text-decoration: none;
    font-style: italic;
    color: #474b6c;
}

/*
Message
 */

div#message {
    position: absolute;
    top: 50px;
    right: 50px;
}

div#message span.message {
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 10px;
    display: block;
    width: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
}

div#message .success {
    background-color: yellowgreen;
    color: #474b6c;
}

div#message .error {
    background-color: red;
    color: whitesmoke;
}

div#message .warning {
    background-color: yellow;
    color: #474b6c;
}