* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat', serif;*/
    font-family: Roboto, sans-serif
    /*overflow-y: hidden;*/
}

html, body {
    height: 100%;
}


/*
* SIDEBAR
*/

div.sidebar {
    background-color: #1a1e27;
    width: 250px;
    height: 100%;
    border-right: 3px solid #2a2e36;
    float: left;
}

div.sidebar div.topo {
    height: 120px;
    color: white;
    text-align: center;
    line-height: 120px;
}

div.sidebar div.footer {
    position: absolute;
    bottom: 60px;
    width: 250px;
    text-align: center;
}

div.sidebar div.footer i {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    color: #4b4e56;
}

div.sidebar div.footer i:hover {
    transition: .2s;
    transform: scale(1.2);
    color: #0bbe35;
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
}

div.sidebar div.topo div.logo img {
    max-width: 100px;
}

div.sidebar div.menu div.item {
    height: 60px;
    width: 100%;
    /*background-color: #22262f;*/
    display: flex;
    cursor: pointer;
}

div.sidebar div.menu div.item:hover {
    transition: .2s;
    -webkit-box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.33);
    z-index: 1;
    position: relative;
}

div.sidebar div.menu div.item:hover i {
    transition: .6s;
    color: #0bbe35 !important;
    /*opacity: 0.7;*/
}

div.sidebar div.menu div.item div.text-menu {
    line-height: 60px;
    width: 100%;
    color: #4b4e56;
    font-size: 20px;
    padding-left: 20px;
}

div.sidebar div.menu div.item i {
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    color: #4b4e56;
    padding-left: 10px;
    width: 50px;
}

div.sidebar div.menu div.sub-items {
    background-color: #242831;
    padding: 20px 10px 20px 10px;
    display: none;
}

div.sidebar div.menu div.sub-items div.text-sub-menu {
    padding: 10px;
    font-size: 18px;
}

div.sidebar div.menu div.sub-items div.text-sub-menu a {
    text-decoration: none;
    color: #4b4e56;
    display: block;
}


div.sidebar div.menu div.sub-items div.text-sub-menu:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px -3px rgba(0, 0, 0, 0.2);
    transition: 1s;
    color: #0bbe35 !important;
}

div.sidebar div.menu div.sub-items div.text-sub-menu a:hover {
    transition: 0.5s;
    color: #0bbe35 !important;
}


/*
* CONTENT
 */

div.main-container {
    float: left;
    height: 100%;
    width: calc(100% - 250px);
    background-color: #15181f;
    overflow-y: auto;
}


div.main-container div.header {
    height: 45px;
    width: calc(100% - 20px);
    background-color: #242831;
    border-left: 5px solid #2a3631;
    border-radius: 6px 0px 0px 6px;
    border-top: 1px solid #2a3631;
    border-bottom: 1px solid #2a3631;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 15px;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

div.main-container div.header i {
    font-size: 25px;
    cursor: pointer;
    color: #0bbe35;
}

div.main-container div.content {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
}

div.main-container div.content div.box-content {
    /*border-radius: 10px;*/
    background-color: #1a1e27;
    margin: 10px 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

div.main-container div.content div.box-content div.box-content-header {
    background-color: #1E2137;
    color: #74788D;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 17px 30px -20px rgba(0, 0, 0, 0.30);
}

div.main-container div.content div.box-content div.box-content-body {
    color: whitesmoke;
    padding: 20px 10px;
}

div.right-bar {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: #1a1e27;
    display: none;
}

div.right-bar i {
    position: relative;
    left: -30px;
    top: 30px;
    font-size: 25px;
    cursor: pointer;
    color: #0bbe35;
}


/* box width */
.w100 {
    width: 99.9%;
}

.w90 {
    width: 89.9%;
}

.w80 {
    width: 79.9%;
}

.w70 {
    width: 69.9%;
}

.w60 {
    width: 59.9%;
}

.w50 {
    width: 49.9%;
}

.w40 {
    width: 39.9%;
}

.w30 {
    width: 29.9%;
}

.w20 {
    width: 19.9%;
}

.w10 {
    width: 9.9%;
}

.wauto {
    width: auto !important;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.row-form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.t-100 {
    width: 100%;
}

/*
* TABLE
 */
.table {
    border-collapse: collapse;
    background-color: #15181f;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.33);
}

.table tr td {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0, 102, 102, 0.3);
}

.table tr th {
    background-color: #1E2137;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px 5px 15px;
    border-bottom: 2px solid rgba(0, 102, 102, 0.5);
}

table tr td.center {
    text-align: center;
}

.table tr:hover {
    opacity: .7;
    /*background-color: #363c49 !important;*/
}

table.table tr.Proposta {
    background-color: #103ccc;
}

table.table tr.Aprovado {
    background-color: greenyellow;
    color: black;
}

table.table tr.Cancelado {
    background-color: red;
}

table.table tr.Recusado {
    background-color: orange;
}


/*
* BUTTON
 */
.button {
    color: white;
    border-radius: 5px;
    background: black;
    cursor: pointer;
    vertical-align: middle;
    max-width: 100px;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
}

.button:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.33);
    background-color: #292f3d;
}


.form-group {
    padding: 0 20px 0 0;
    margin: 10px 0px;
    display: flex;
    align-items: baseline;
}

/**
* FORM
 */
label.label {
    font-size: 18px;
    padding-right: 5px;
    /*border-bottom: 1px solid #32354D;*/
    color: #474b6c;
    margin-right: 10px;

    /*letter-spacing: 1px;*/
}

input::placeholder {
    color: #474b6c;
    font-size: 15px;
}

input[type=text] {
    background-color: #1A1E27;
    /*border: 1px solid #474b6c;*/
    border: none;
    border-bottom: 1px solid #32354D;
    font-size: 15px;
    padding: 5px 10px;
    outline: none;
    color: #474b6c;
    max-width: 180px;
    text-align: center;
}

input[type=text]:hover {
    border-bottom: 1px solid #474b6c;
}



form i.search-icon {
    font-size: 20px;
    /*padding-top: 10px;*/
    cursor: pointer;
    color: #0bbe35;
}

form i.inside-icon {
    position: relative;
    left: 20px;
    bottom: 10px;
    color: #474b6c;
}

.box-content-header i.inside-icon {
    cursor: pointer;
    font-size: 20px;
    color: #0bbe35;
}

.box-flex-between {
    display: flex;
    justify-content: space-between;
}




/*
* Icon functions
 */
i.clickable {
    cursor: pointer;
}

i.clickable:hover {
    transition: 0.3s;
    color: #0bbe35;
}

/*
* Scroll
 */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: black;
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    border-radius: 15px 0px 15px 0px;
    background-color: #414b57;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

/* h1 configs */
h1.main-title {
    font-size: 30px;
    color: whitesmoke;
    font-weight: normal;
    margin-bottom: 30px;
}

h2.title-box {
    font-weight: normal;
}

/*
* P functions
 */
p.content-box {
    text-align: justify;
    color: #74788D;
    margin-bottom: 10px;
}


@media (max-width: 1400px) {

    div.text-menu {
        display: none;
    }

    div.sidebar {
        width: 70px;
    }

    div.main-container {
        float: left;
        height: 100%;
        width: calc(100% - 70px);
        background-color: #15181f;
        overflow-y: auto;
    }

    div.sidebar div.topo div.logo img {
        display: none;
    }

    div.sidebar div.menu div.item i {
        text-align: center;
    }

    div.sidebar div.footer {
        width: 70px;
    }

    div.sidebar div.menu div.sub-items {
        position: absolute;
        left: 71px;
    }


}

@media (max-width: 1400px) {
    table.responsive tr td,
    table.responsive tr th{
        font-size: 13px;
    }
}

@media (max-width: 1250px) {
    table.responsive tr td,
    table.responsive tr th{
        font-size: 10px;
    }
}


@media (max-width: 1100px) {

    table.responsive tr td,
    table.responsive tr th{
        font-size: 15px;
    }

    table.responsive thead {
        display: none;
    }

    table.responsive tr {
        border-bottom: 1px solid #dddddd;
    }

    table.responsive td {
        border: 0;
    }

    table.responsive td:not(:first-child) {
        display: block;
    }
}
/**
* Loader
 */
div.loader-content {
    width: 100%;
    height: 100%;
    background: rgba(47, 54, 64, 0.5);
    position: absolute;
    z-index: 10;
}
div.loader-content .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
Message
 */

div#message {
    position: absolute;
    top: 50px;
    right: 50px;
}

div#message span.message {
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 10px;
    display: block;
    width: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
}

div#message .success {
    background-color: yellowgreen;
    color: #474b6c;
}

div#message .error {
    background-color: red;
    color: whitesmoke;
}

div#message .warning {
    background-color: yellow;
    color: #474b6c;
}

